.container {
  position: relative;
  width: 100%;
  
  background-color: var(--secondaryDark);
  padding: .5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu {
    color: #FFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 300ms;

    &:hover {
      color: var(--primary)
    }
  }

  .userDetails {
    display: flex;
    align-items: center;

    .userName {
      color: #FFF;
      margin-right: 1rem;
      font-family: var(--title);
    }

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 180;
    }

  }

  .userData {
    position: absolute;
    z-index: 180;
    top: 55px;
    right: 16px;
    background-color: var(--body);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 2px #333;

    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.2rem;
    }

    span {
      font-size: .8rem;
    }

    &::after {
      position: absolute;
      top: -18px;
      right: 5px;
      content: '';
      border: 10px solid;
      background: transparent;
      border-color: transparent;
      border-bottom: 10px solid var(--body);
      width: 0;
      height: 0;
    }

  }

  .backgroundUserData {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 170;
    width: 100%;
    height: 100vh;
    display: block;
    background-color: #26262625;

  }
  .hidden {
    display: none;
  }

}