.container {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5;
  flex: 1;

  display: flex;
  flex-direction: column;

  .contentContainer {
    display: flex;

    .content {
      flex: 1;
      height: calc(100vh - 51px);
      padding: 1rem 1rem 2rem 1rem;

      .title {
        font-size: 1.5rem;
      }

      .fileForm {
        width: 100%;
        

        .fileLabel {
          
          display: inline-block;
          padding: .5rem 2rem;
          background-color: var(--primary);
          color: var(--backgroundColor);
          margin: 2rem 0 1rem 0;
          border-radius: .5rem;
          cursor: pointer;
          user-select: none;
        }
  
        .fileInput {
          display: none;
        }
  
        progress {
          width: 300px;
          height: 20px;
          color: #aaa;
          margin-right: 1rem;
        }

      }

    }
  }
}